@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

body {
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/bg.webp");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

input {
  text-overflow: ellipsis;
  font-family: inherit;
}
